#unity-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}

ul {
  margin-bottom: 20px;
}

#unity-loading-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#unity-footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
